In [1]:
import pandas as pd

In [9]:
data = pd.read_csv(r"C:\Users\2kjph5\OneDrive - Merit Automotive Electronics Systems, S.L\03-Miscellaneous\Studies\Learning\python\Complete-Data-Science-and-Machine-Learning-Bootcamp-Udemy\section_2\data\cost_revenue_clean.csv")
data.describe()

       Production Budget ()  Worldwide Gross ()
count          5.391000e+03        5.391000e+03
mean           3.111374e+07        8.885542e+07
std            4.052380e+07        1.684578e+08
min            1.100000e+03        0.000000e+00
25%            5.000000e+06        3.865206e+06
50%            1.700000e+07        2.745045e+07
75%            4.000000e+07        9.645446e+07
max            4.250000e+08        2.783919e+09